* {
    margin: 0;
    padding: 0;
}
header h2 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px; 
}
.container{
   max-width: 100%;
   height: 100%;
   flex-wrap: wrap;
   display: block;
   flex-direction: row;
}
.item{
    background-color: #f8f9fa;
    margin: 6px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(132, 130, 130);
    padding: 15px;
    
}
.dltop{
    width: 40%;                   
}
#overflow_ellipsis{
    font-size: 18px;
    font-weight: BOLD;
    color: #1F4E79;
    width: 100%;
    white-space: nowrap;                  
    overflow: hidden;            
    text-overflow:ellipsis;
}
.dlbottom{
   word-wrap: break-word;
   width: 30%;                   
   margin-top: 30px;
}
.gat{  
    width: 100%;
    color: #1F4E79;
    word-break: break-all;
    font-size: 14px;
    white-space: nowrap;                  
    overflow: hidden;            
    text-overflow:ellipsis;
}
#gat_1{
    color: black;
}
.dcbottom{
    width: 30%;
    margin-left: 450px;
    margin-bottom: -30px;
}
.fase{
    background-color: #9DC3E6;
    width: 70%;
    margin-top: 40px;
    margin-bottom: -24px;
}
.cod{
    background-color: #9DC3E6;
    width: 20%;
    margin-left: 255px;
}
.canalproposto{
  margin-top: 20px;
  margin-bottom: -30px;
  white-space: nowrap;
  width: 70%;                   
  overflow: hidden;             
  text-overflow:    ellipsis;
}
.but{
    margin-left: 999px;
    padding: 3px;
    background-color: #2E75B6;
    color: white;
}
.flex2{
   width: 18%;
   float: right;

}

form{
    display: block;
    float: left;
    margin-left: 19px;
    border-radius: 10px;
    border: 2px solid rgb(132, 130, 130);
    height: 2010px;
    width: 310px;
}

h4{
    margin-left: 21px;
    font-family: 'Segoe UI';
    padding: 10px;
}
#bordhr{
    border: 2px solid rgb(224, 224, 224);
    width: 300px;
    margin-left: 1px;
}
h5{
    font-family: serif;
}

.linha {
    margin-top: 10px;
}

.checkboxes{
    margin-left: 25px;
    margin-top: 20px;
    font-family: 'sans-serif';
    font-size: 18px;
}
.hr2{
    border: 1px solid rgb(224, 224, 224);
    margin-right: 120px;
    width: 280px;
    
}

